@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Bungee_Hairline;
  src: url(/public/fonts/Bungee_Hairline/BungeeHairline-Regular.ttf);
}

@font-face {
  font-family: Codystar;
  src: url(/public/fonts/Codystar/Codystar-Regular.ttf);
}
